--sig2_min 1e-09 --sig2_max 10 --n_sigmas 20 --dataset my_data --data_dim 3 --hidden_dim 210 --N_epochs 500 --batch_size 200 --ID_samples 100


dataset = thin_spiral
algorithm = flow
modelname = NeurIPS

modellatentdim = 1
truelatentdim = 1
outerlayers = 5
innerlayers = 5
outertransform = rq-coupling
innertransform = affine-autoregressive
lineartransform = lu
splinerange = 3.0
splinebins = 5
sig2 = 0.0

epochs = 100
batchsize = 100
lr = 3.0e-4
l1 = False
msefactor = 1.0
nllfactor = 1.0
uvl2reg = 0.0
weightdecay = 1.0e-5
validationsplit = 0.1
clip = 5.0
dropout = 0.0

debug = False
dir = /storage/homefs/ch19g182/Python/Denoising-Normalizing-Flow-master
